name: Update GameOfLifeGif - Proof of Concept

on:
  workflow_dispatch:

concurrency:
  group: gameoflife-push
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run local action
        uses: SilenZcience/GameOfLifeAction@main
        with:
          gif-name: GithubStreakStatsDarkGif
          do-gif: 'true'
          gif-file: 'https://streak-stats.demolab.com/?user=SilenZcience&theme=radical&hide_border=true#gh-dark-mode-only'
          gif-length: '250'
          commit: 'true'
