name: Update GameOfLife

on:
  workflow_dispatch:

concurrency:
  group: gameoflife-push
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: SilenZcience/GameOfLifeAction@v1
        with:
          commit: 'true'
