name: Update GameOfLife

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run local action
        uses: SilenZcience/GameOfLifeAction@main
        with:
          commit: 'true'
